<div class="row">
  <h2>Create New Image</h2>
</div>
<div class="row">
  <%= simple_form_for @image do |f| %>
      <%= f.input :url %>
      <%= f.input :tag_list, input_html: {value: @image.tag_list.to_s} %>
      <%= f.button :submit, class: 'btn-primary' %>
  <% end %>
</div>

